/*
 * NextLevel CSS
 */

#nextlevel {
	position : absolute;
	width : auto;
	bottom : 5vmin;
	right : 5vmin;
	z-index: 100;
	padding: ;
	font-family: "Roboto Mono", sans-serif;
  background-color: #eee;
  font-size: 3vw;
	text-align: center;
	display: flex;
	border: 0.1em solid black;
	box-shadow: 0 0 2em rgba(0,0,0,0.5);
}

@media screen and (max-width: 20em) {
  #nextlevel {
    font-size: 1em;
  }
}

#nextlevel a {
	padding: 2em;
	text-decoration: none;
	color: #444;
	display: block;
}

#nextlevel a:hover {
	background-color: #888;
	color: #ddd;
}
